{% extends '0base.html' %}

{% load static %}

{% block title %} Projects {% endblock %}

{% block content %}
    <div class="container-fluid" id="proyectos">
        <div>
        <br><br><br><br><br>
            <p id="pProyectos">Search for project</p>
            <form method="get">
                <div>
                    <div id="formulario"><h3>{{ filtrado.form }}</h3></div>
                    <div><button class="btn btn-secondary" type="submit" id="boton">Search</button></div>
                </div>
            </form>
        </div> 
        <br><br><br>

        <div class="row">
            {% for i in proyectos %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10" >
                    <div class="card">
                        <img class="card-img-top" style="width:100%" src="{{ i.imagen.url }}" alt="Card image cap">
                        <div class="card-body">
                            <a href="{{ i.get_absolute_url }}"><h5 class="card-title">{{ i.titulo }}</h5></a>
                            <p class="card-text" id="pProyectos">{{ i.contenido }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><br>
        
    </div>
    

{% endblock content %}